@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: rgb(0, 0, 0);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar {
  height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #991c1c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #972e2e;
}
